*{ 
    margin: 0%; 
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.navbar{
    z-index: 1;
    background-color: #173832;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    box-shadow: 1px 4px 16px 1px rgba(0,0,0,0.75);
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

.title{
    font-size: 25px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    gap: 100px;
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    color: #cec9ba;
    font-size: 1rem;
    transition: color 0.3s ease-in, text-shadow 0.35s ease-in;
}

.nav-links a:hover{
    color: #0c7723;
    text-shadow: 4px 1px 4px rgba(0,0,0,0.6);
}

.logo-brand{
    width: 4rem;
}

.picks{
    background-color: #1b1b1b;
    padding: 40px 17% 30px;
}

.picks h1{
    color: #ffffff;
    font-size: 2.2rem;
}

.articles{
    background-color: #1b1b1b;
    width: 100%;
    display: grid;
    justify-content: center;
}

.hot-articles{
    padding-bottom: 60px;
}

.hot-img{
    height: 45rem;
    width: 80rem;
    border-radius: 15px;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.hot-img:hover{
    transform: translateY(-7px);
    border-radius: 10px;
    box-shadow: -6px 11px 28px 2px rgba(0,0,0,0.75);
}

.line {
  width: 100%; 
  margin: 0 auto;
  border: none;
  border-top: 1px solid #d8d8d8;
}

.site-footer {
    box-shadow: 1px -6px 28px 0px rgba(255,241,241,0.75);
    background-color: #1b4332; 
    color: #ffffff;
    padding: 60px 0 30px 0;
    font-family: Arial, sans-serif;
    border-top: 1px solid #2a5a43;
}

.footer-container {
    width: 100%;
    padding: 0px 450px;
    display: flex; 
    justify-content: space-around;
}

.footer-column {
    width: 220px; 
}   

.footer-email {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

.footer-email:hover {
    color: #1fc40a; 
    text-decoration: underline; 
}
.footer-title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-text {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.tax-box {
    border-top: 1px solid #4f772d;
    padding-top: 15px;
    margin-top: 15px;
}

.subscribe-form {
    display: flex;
    margin-top: 10px;
}

.subscribe-form input {
    width: 130px;
    padding: 8px;
    border: 1px solid #84f08a;
    outline: none;
}

.subscribe-form button {
    background-color: #4f772d;
    color: #6dd47f;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
}

.subscribe-form button:hover {
    background-color: #132a13;
}

.footer-bottom {
    width: 1000px;
    margin: 40px auto 0 auto;
    padding-top: 20px;
    border-top: 1px solid #4f772d;
    text-align: center;
}

.copyright-text {
    font-size: 12px;
    color: #cccccc;
}