* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #333333;
  line-height: 1.6;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  margin: 0; 
  padding: 0;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  
    height: 100vh; 
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #000000), url('image/fire.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.navbar {
    background-color: #5c0808;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999; 
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    box-shadow: 1px 4px 16px 1px rgba(0,0,0,0.75);
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.title{
  font-size: 25px;
  font-weight: bold;
}

.nav-links{
  display: flex;
  gap: 100px;
}

.nav-links a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease-in, text-shadow 0.35s ease-in;
}

.nav-links a:hover{
  color: #f54747;
  text-shadow: 4px 1px 4px rgba(0,0,0,0.6);
}

.logo-brand{
    width: 4rem;
}

.hero {
  box-shadow: 2px 10px 26px 3px rgba(255,255,255,0.75);
  color: #ffffff;
  padding: 6rem 5%;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
}

.breadcrumb {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #d41c1c;
}

.hero h1 {
  font-size: 4rem; 
  font-weight: 800;
  line-height: 1.1;
    width: 900px;
  margin-bottom: 1.5rem;
}

.main-container {
  padding: 4rem 5%;
  width: 100%;
  padding-left: 27rem;
  padding-right: 27rem;
  display: flex;
  gap: 4rem;
  background-color: #000000;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.3);
}

.article-lead {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  border-left: 4px solid #d41c1c;
}

.article-content h2 {
  font-size: 1.8rem;
  color: #fdfdfd;
  margin: 2.5rem 0 1rem;
}

.article-content h3{
  padding: 15px;
  color: #d41c1c;
}

.article-content p {
  font-size: 1.125rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.article-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 2rem 0;

}

.theory-card {
    width: 27.5rem;
    position: relative; 
    display: flex;
    align-items: center; 
    border: 1px solid #333;
    border-left: 4px solid #d41c1c; 
    border-radius: 8px;
    padding: 20px; 
    height: 120px; 
    margin-bottom: 15px; 
    text-decoration: none;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.4s ease, 
                box-shadow 0.4s ease;
}

.theory-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9), 0 0 15px rgba(244, 32, 32, 0.15); 
}

.theory-content {
    flex: 1; 
    z-index: 2;
    position: relative; 
}

.theory-content h3 {
    color: #ffffff;
    font-size: 1.1rem; 
    margin: 0 0 6px 0;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0,0,0,0.8); 
}

.theory-content p {
    color: #cccccc; 
    font-size: 0.85rem;
    margin: 0;
    line-height: 1.4;
    text-shadow: 0 1px 3px rgba(0,0,0,0.8);
}

.arrow-icon {
    color: #d41c1c;
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 15px;
    z-index: 2; 
    position: relative;
    transition: transform 0.3s ease;
}

.theory-card:hover .arrow-icon {
    transform: translateX(8px);
}

.line {
  width: 100%; 
  margin: 0 auto;
  border: none;
  border-top: 1px solid #d8d8d8;
}

.site-footer {
    box-shadow: 1px -6px 28px 0px rgba(255,241,241,0.75);
    background-color: #1b1b1b; 
    color: #ffffff;
    padding: 60px 0 30px 0;
    font-family: Arial, sans-serif;
    border-top: 1px solid #d41c1c;
}

.footer-container {
    width: 100%;
    padding: 0px 450px;
    display: flex; 
    justify-content: space-around;
}

.footer-column {
    width: 220px; 
}   

.footer-email {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

.footer-email:hover {
    color: #d41c1c; 
    text-decoration: underline; 
}
.footer-title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-text {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.tax-box {
    border-top: 1px solid #d41c1c;
    padding-top: 15px;
    margin-top: 15px;
}

.subscribe-form {
    display: flex;
    margin-top: 10px;
}

.subscribe-form input {
    width: 130px;
    padding: 8px;
    border: 1px solid #d41c1c;
    outline: none;
}

.subscribe-form button {
    background-color: #d41c1c;
    color: #fd8585;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
}

.subscribe-form button:hover {
    background-color: #800909;
}

.footer-bottom {
    width: 1000px;
    margin: 40px auto 0 auto;
    padding-top: 20px;
    border-top: 1px solid #d41c1c;
    text-align: center;
}

.copyright-text {
    font-size: 12px;
    color: #cccccc;
}